### Zip

In [1]:
names = ["Ali", "Usman", "Ayesha"]

age = [20, 30, 40]

combined = zip(names, age)

combined

In [2]:
for name, age in zip(names, age):
    print(f"Name: {name} and Age: {age}")

Name: Ali and Age: 20
Name: Usman and Age: 30
Name: Ayesha and Age: 40

### List Comprehension

In [3]:
for i in [1,2,3,4,5]:
    print(i**2)

1
4
9
16
25

In [4]:
[i**2 for i in [1,2,3,4,5]]

[1, 4, 9, 16, 25]

In [5]:
nums = [1,2,3,4,5]

[i**2 for i in nums if i%2==0]

[4, 16]

### map

In [6]:
nums = [1,2,3,4]

def func(x):
    return x**2

list(map(func,nums))

[1, 4, 9, 16]

In [7]:
list(map(lambda x: x**3, nums))

[1, 8, 27, 64]

In [8]:
names = ["ali", "sarah", "haider"]

list(map(lambda x: x.upper(), names))

['ALI', 'SARAH', 'HAIDER']

### filter

In [9]:
nums = [10, 15, 20, 25, 30]

list(filter(lambda x: x%2==0, nums))

[10, 20, 30]

### glob

In [11]:
import pandas as pd
import glob

csv_files = glob.glob("data/*.csv")
data_frames = [pd.read_csv(file) for file in csv_files]

In [12]:
data_frames[0]

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   22      Chicago

In [13]:
data_frames[1]

   Unnamed: 0    Name  Age
0           0  Hussam   30
1           1  Haseeb   32

In [14]:
glob.glob("data/*.txt")

['data/hello.txt']